mixin video(video)
  a(href=`/videos/${video.id}`)
    .video__box
      if video.thumbPath
        img.video__box--thumb(src=video.thumbPath alt=video.title)
      else
        img.video__box--thumb(src='/static/images/thumb.png' alt=video.title + 'without thumbnail')
      .video__box__info
        span.video__info--title=video.title
        .video__box__info--meta
          span #{video.uploader.username}
          span #{video.meta.views} 회